.picture {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.partner-picture-1 {
  transform: translateX(26px) translateY(10px) scale(1.2);
}

.partner-picture-2 {
  transform: translateX(-15px);
}

.partner-picture-3 {
  transform: scale(2);
  margin: 0;
}
