@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand; }

section {
  padding: 50px 0; }

p {
  font-size: 20px; }

.fixed-top.scrolled {
  background-color: white !important;
  transition: all 200ms linear; }

.navbar-logo {
  height: 50px; }

.picture-container {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid #57AB54; }
  .picture-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    zoom: 80%; }

.page-header {
  font-size: 65px;
  font-weight: bold;
  text-align: center; }

.section-header {
  font-size: 50px;
  font-weight: bold;
  text-align: center; }

.sub-header {
  font-size: 30px;
  font-weight: bold; }

.footer {
  background-color: #333;
  padding-top: 30px; }

.primary-cta-button {
  background-color: #384F99;
  padding: 10px 15px;
  font-size: 20px;
  color: white;
  border-radius: 4px;
  border: none;
  transition: all .2s; }
  .primary-cta-button:hover {
    background-color: #2d3f7a; }

.form-input {
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 10px 15px;
  display: block;
  width: 100%;
  margin-bottom: 15px;
  transition: all .2s; }
  .form-input:focus {
    outline: none;
    background-color: #eee; }

@media (max-width: 1200px) {
  .header-video {
    height: 100% !important;
    width: auto !important; } }

@media (max-width: 1000px) {
  .deals-grid-item-grid {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)) !important; } }

@media (max-width: 800px) {
  nav {
    background-color: white !important;
    transition: all 200ms linear; }
  .who-we-are-grid-item {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)) !important; }
  .contact-grid {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)) !important; }
  .team-grid-item, .partners-grid-item {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)) !important;
    grid-gap: 10px !important; } }

@media (max-width: 500px) {
  .footer-logo {
    width: 100%; } }

.header {
  height: 100vh;
  position: relative;
  overflow: hidden; }
  .header-video {
    position: absolute;
    top: 0;
    left: 0;
    zoom: 0.7;
    height: auto;
    width: 100%;
    filter: brightness(0.3); }
  .header-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .header-container * {
      color: white; }

.who-we-are {
  background-color: #eee; }
  .who-we-are-grid-item {
    margin-bottom: 50px;
    display: grid;
    grid-gap: 50px;
    align-items: center; }
    .who-we-are-grid-item-image {
      width: 100%; }
    .who-we-are-grid-item-odd {
      grid-template-columns: 30% 1fr; }
    .who-we-are-grid-item-even {
      grid-template-columns: 1fr 30%; }

.deals {
  background-color: #eee;
  padding-top: 100px; }
  .deals a {
    color: black; }
    .deals a:hover {
      text-decoration: none; }
  .deals-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); }
    .deals-grid-item {
      text-align: center;
      padding: 50px 40px;
      transition: all .2s;
      border-radius: 5px; }
      .deals-grid-item:hover {
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); }
      .deals-grid-item-image {
        border-radius: 2px;
        width: 100%;
        height: 150px; }
      .deals-grid-item-title {
        margin-top: 20px; }

.team {
  background-color: #eee;
  padding-top: 100px; }
  .team-grid-item {
    text-align: center;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-gap: 50px;
    align-items: center;
    margin-bottom: 50px; }
    .team-grid-item p {
      text-align: left; }

.partners {
  background-color: #eee;
  padding-top: 100px; }
  .partners-grid-item {
    text-align: center;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-gap: 50px;
    align-items: center;
    margin-bottom: 50px; }
    .partners-grid-item p {
      text-align: left; }

.contact {
  background-color: #eee;
  padding-top: 100px; }
  .contact-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px; }
    .contact-grid-information-box {
      border: 2px solid #ccc;
      border-radius: 4px;
      padding: 30px;
      margin-bottom: 30px; }

.deal {
  background-color: #eee;
  padding-top: 100px; }
  .deal-carousel {
    height: 500px; }
    .deal-carousel-inner {
      height: 100%; }
  .deal-info {
    margin-top: 30px; }
    .deal-info p {
      margin-top: 20px; }
