@media (max-width: 1200px) {
  // DRONE SHOT GETS SQUISHED
  .header-video {
    height: 100% !important;
    width: auto !important;
  }
}


@media (max-width: 1000px) {
  // OUR DEALS GRID GETS SQUISHED
  .deals-grid-item-grid {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)) !important;
  }
}


@media (max-width: 800px) {
  // NAVBAR GETS SQUISHED
  nav {
    background-color: white !important;
    transition: all 200ms linear;
  }

  // WHO WE ARE GETS SQUISHED
  .who-we-are-grid-item {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)) !important;
  }

  // CONTACT US GRID GETS SQUISHED
  .contact-grid {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)) !important;
  }

  // TEAM AND PARTNERS GET SQUISHED
  .team-grid-item, .partners-grid-item {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)) !important;
    grid-gap: 10px !important;
  }
}


@media (max-width: 500px) {
  // FOOTER GETS SQUISHED
  .footer-logo {
    width: 100%;
  }
}
