.deal {
  background-color: #eee;
  padding-top: 100px;

  &-carousel {
    height: 500px;

    &-inner {
      height: 100%;
    }
  }

  &-info {
    margin-top: 30px;

    & p {
      margin-top: 20px;
    }
  }
}
