.partners {
  background-color: #eee;
  padding-top: 100px;

  &-grid {

    &-item {
      text-align: center;
      display: grid;
      grid-template-columns: 30% 1fr;
      grid-gap: 50px;
      align-items: center;
      margin-bottom: 50px;

      & p {
        text-align: left;
      }
    }
  }
}
